.text-message {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.5rem;
}

.text-message-inner {
  height: 100px;
  max-width: 32rem;
  margin: 0 auto;
  background: burlywood;
  border: 3px solid brown;
  padding: 0.5rem;
  border-radius: 3px;
}
